*{
    background-color: #1F2937;

    font-family: 'Roboto', sans-serif;
}

.seccion_1{

    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    display:flex;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    
    
}

.header_logo{
    width: 100px;
    height: 100px;
    margin-right: 600px;
    
}

.links{
    display:flex;
    justify-content: flex-end;
    width: 50%;
    font-size: 18px;
    align-content: flex-start;
}

a{
    margin: 25px;
}

.seccion_2{
 display:flex;

}

.seccion_2.cont_1{
   
    flex-direction: column;
    width: 50%;
    margin-left: 100px;
}
#s2-c1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

#s2-c2{
   font-weight: 18px;
    color: #e5e7eb;
}

#s2-c3{
    border-radius: 5px;
    background-color: #3882f6;
    width: 20%;
    color: #e5e7eb;
    font-weight: 18px;
    font-weight: bold;
    border-style: solid;
    border-color: #3882f6;
 }

 #s2-img{
    width:100%;
    height: 100%;
 }

.seccion_2.cont_2{
    background-color: purple;
    margin-right: 100px;
    flex-direction: row;
    justify-content: center;
    flex:1 ;
}

.seccion_3{
    margin-top: 20px;
    display:flex;
    
    flex-direction: column;
    align-items: center;
    background-color: #f9faf8;
    color: hsl(215, 28%, 17%);
}

.seccion_3.cont_1{
    background-color: #f9faf8;
    font-size: 20px;
    font-weight: 800;
    
}

.seccion_3.cont_2{
    background-color: #f9faf8;
    flex-direction: row;
    
    
}

.hero_recuadro {
   background-color: #f9faf8; 
   flex-direction: row;
   justify-content: space-between;
   display: block;
 
}

.hero_recuadro.cuadrado {
   margin-top: 20px;
    width: 150px;
    height: 100px; 
   border-radius: 10px;
    margin-right: 40px;
    border: 2px solid #428bca;
    

    
}

.hero_recuadro.cuadrado_text {
    width: 150px;
    height: 100px;
    overflow: hidden; /* Esto ocultará el texto que rebase el límite del div */
    word-wrap: break-word; /* Esto permitirá que las palabras largas se rompan si no caben en una línea */
    white-space: normal;
    font-size: 12px;
    color:rgb(172, 169, 172)
}

.img_hero{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.seccion_4{
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;

}

.seccion_4.p1{
    margin-top: 50px;
    width: 700px;
    color:grey;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.seccion_4.p2{
    font-weight: bold;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 50px;
}

.seccion_5{
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: center;
}

.seccion_5.cuadro{
    background-color: #428bca;
    width: 60%;
    height: 150px;
    margin: 100px;
    border-radius: 10px;
    display:flex;
    align-items: center;
}

.caja_1{
    background-color: pink;
    width: 60%;
    display:flex;
    flex-direction: column;
    margin: 100px;
}

.sub_caja_1{
    font-size: 25px;
    font-weight: 600;
    background-color: #428bca;
    color: white;
}

.sub_caja_2{
    font-size: 20px;
    background-color: #428bca;
    color:white;
}

.caja_2{
    background-color: #3882f6;
    width:40%;
    display: flex;
    justify-content: center;
    height: 30px;
}

#boton_caja_2{
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid white;
}

footer{
    display: flex;
    justify-content: center;
}
.footer{
    background-color: #1F2937;
    color: white;
    margin: 30px;

}
