*{
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
}

.seccion_1{

    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    display:flex;
    margin-left: 100px;
    margin-right: 100px;
    
    
}

.header_logo{
    color:#f9faf8;
    font-size: 24px;
    width: 50%;
    
}

.links{
    display:flex;
    justify-content: flex-end;
    width: 50%;
    font-size: 18px;
    align-content: flex-start;
}

a{
    margin: 25px;
}

.seccion_2{
 display:flex;

}

.seccion_2.cont_1{
   
    flex-direction: column;
    width: 50%;
    margin-left: 100px;
}
#s2-c1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

#s2-c2{
   font-weight: 18px;
    color: #e5e7eb;
}

#s2-c3{
    border-radius: 5px;
    background-color: #3882f6;
    width: 20%;
    color: #e5e7eb;
    font-weight: 18px;
    font-weight: bold;
    border-style: solid;
    border-color: #3882f6;
 }

 #s2-img{
    width:100%;
    height: 100%;
 }

.seccion_2.cont_2{
    background-color: purple;
    margin-right: 100px;
    flex-direction: row;
    justify-content: center;
    flex:1 ;
}

