*{
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
}

.seccion_1{

    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    display:flex;
    margin-left: 100px;
    margin-right: 100px;
    
    
}

.header_logo{
    color:#f9faf8;
    font-size: 24px;
    width: 50%;
    
}

.links{
    display:flex;
    justify-content: flex-end;
    width: 50%;
    font-size: 18px;
    align-content: flex-start;
}

a{
    margin: 25px;
}

.seccion_2{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;

}

#parrafo{
    font-size: 18px;
    color: #e5e7eb;
}

.brand{
    width: 600px;
}

.comienza{
    font-size: 18px;
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 25px;
    font-weight: bold;
    height: 60px;
}

.hero_image{
    font-weight: 25px;
    background-color: gray;

}